.logo {
    width: 4rem;
}

.box-title-principal{
    display: flex;
    justify-content: center;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.email {
    word-wrap: break-word;
}