.logo {
    width: 4rem;
}

.box-title-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.principal-title {
    font-size: 4rem;
}

.banner {
    width: 8rem;
}

.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide figure img {
    display: block;
    width: 640;
    object-fit: cover;
    border-radius: 1em;
}

.email {
    word-wrap: break-word;
}